html,
body {
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

.preload {
    z-index: 9999;
    opacity: 1;
    height: 100%;
    width: 100%;
    position: fixed;
    background: #fff;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: opacity 0.5s ease-out;
}

.preload img {
    width: 600px;
    /* Sesuaikan ukuran gambar preloader */
    height: 400px;
}

nav {
    background-color: #C6E2DE !important;
}

nav button {
    border: 0 !important;
}

nav ul li a {
    color: black !important;
    margin-left: 4rem;
    font-weight: 800;
}

.dropdown-menu li a {
    margin-left: 0 !important;
    color: black;
    font-weight: 600;
}

.dropdown-menu li a:hover {
    background-color: #C6E2DE;
}

.dropdown-menu {
    border: 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 12px;
}

.text-justify {
    line-height: 2;
    font-size: 18px;
    color: #4C5454;
    text-align: justify;
}

.content {
    background-image: url(img/Group\ 70.png);
    background-size: 100%;
    background-position: center bottom;
}

.home {
    display: flex;
    align-items: center;
    min-height: 95vh;
    overflow: hidden;
    background-image: url(img/bg-home.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
}

.home-content {
    display: flex;
    align-items: center;
    justify-content: center;
}

.home-text {
    flex: 0.75;
    padding-top: 2rem;
    text-align: center;
}

.home-text h1 {
    font-weight: 800;
    font-size: 4em;
    line-height: 1.5;
    color: #4a4a4a;
}

.profile {
    min-height: 100vh;
    display: flex;
    align-items: center;
    overflow: hidden;
}

.judul-profile {
    letter-spacing: 10px;
    font-weight: 400;
}

.profile .profile-text .text-profile {
    line-height: 1.8;
    font-size: 20px;
    font-weight: 600;
    color: #4C5454;
    text-align: justify;
    margin-top: 2rem;
    margin-bottom: 3rem;
}

.profile-content {
    display: flex;
}

.profile-content .button {
    padding: 14px 32px;
    background-color: #009462;
    border-radius: 40px;
    text-decoration: none;
    color: white;
    transition: all 0.8s ease;
}

.profile-content .button:hover {
    background-color: #fff;
    border: 2px solid #009462;
    color: #009462;
}

.profile-content .profile-text {
    flex: 1;
}

.profile-content .profile-image {
    flex: 1;
    display: flex;
    justify-content: end;
    align-items: center;
}

.service {
    overflow: hidden;
    padding-bottom: 4rem;
}

.service-content .service-heading {
    margin-bottom: 6rem;
}


.service-content .service-heading h1 {
    font-weight: 800;
    font-size: 2.5em;
    line-height: 1.5;
}

.service-content .card {
    border: 0 !important;
    border-radius: 40px;
    overflow: hidden;
    margin: 0 !important;
    padding: 1rem 2rem;
    overflow: visible;
}

.service-content .card img {
    margin-top: -5rem;
    width: 100px;
}

.service-content .card .card-title {
    margin-top: 25px;
    line-height: 1.5;
    font-weight: 700;
}

.service-content .card-text {
    padding-bottom: 1rem;
    line-height: 2;
    font-size: 18px;
    color: #4C5454;
}

.service-content .card {
    box-shadow: 4px 8px 16px rgba(0, 0, 0, 0.1);
}

.service-content .button {
    padding: 10px 20px;
    border-radius: 40px;
    background-color: #009462;
    text-decoration: none;
    color: white;
}

.service-content .button:hover {
    background-color: #fff;
    border: 2px solid #009462;
    color: #009462;
}

.about {
    align-items: center;
    overflow: hidden;
    padding-bottom: 4rem;
}

.about-content {
    display: flex;
    flex: 1;
    min-height: 100vh;
    align-items: center;
}

.about-content img {
    width: 600px;
}

.about-content .about-image {
    display: flex;
    justify-content: start;
    align-items: center;
}

.about-content .about-text h1 {
    font-weight: 800;
    font-size: 2.5em;
    line-height: 1.5;
}

.about-content .about-text p {
    padding-bottom: 2rem;
}

.about-content .about-text .button {
    padding: 14px 32px;
    background-color: #009462;
    border-radius: 40px;
    text-decoration: none;
    color: white;
    transition: all 0.8 ease;
}

.about-content .button:hover {
    background-color: #fff;
    border: 2px solid #009462;
    color: #009462;
}

.jadwal-sholat {
    display: flex;
    align-items: center;
    min-height: 100vh;
    padding: 4rem 0;
    overflow: hidden;
}

.jadwal .badge {
    background-color: #C6E3DE !important;
    color: #000 !important;
}

.jadwal-sholat-content {
    background-color: rgba(198, 227, 222, 0.3);
    border-radius: 40px;
    padding: 0px 40px;
    background-image: url(img/pattern.png);
    background-position: center;
    background-size: cover;
}

.jadwal-sholat-content .date {
    padding-bottom: 4rem;
    padding-top: 2rem;
}

.jadwal-sholat-content .date span {
    font-size: x-large;
    font-weight: 600;
}

.jadwal-sholat-content .hero .nextPrayer {
    padding-bottom: 2rem;
}

/* PAGE TENTANG.HTML */
.heading {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    min-height: 50vh;
    background-color: #C6E3DE;
    margin-top: -3.5rem;
    background-image: url(img/bg-home.png);
    background-position: center;
    background-size: cover;
}

.heading-content h1 {
    font-size: 3em;
    font-weight: 800;
}

.jadwal {
    padding: 4rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* PAGE AYOBELAJAR.HTML */
.card-surat {
    cursor: pointer;
}

.card-surat:hover {
    background-color: #C6E3DE;
}

/* PAGE DETAIL SURAT AL QURAN */
.card-isi-surat .card {
    padding: 1rem;
    background-color: #FAF8EC;
}

.detail-surat p {
    padding-bottom: 0.5rem;
}

.detail-surat .button {
    padding: 8px 28px;
    background-color: #009462;
    border-radius: 40px;
    text-decoration: none;
    color: white;
    box-shadow: 0 4px 8px rgba(0, 148, 98, 0.5);
}

.ayat {
    color: #009462;
}

.hidden-button {
    display: none;
}

/* GERAKAN SHOLAT */
.gerakansholat .card-body {
    height: 400px;
}

.gerakansholat .card-body:hover {
    background-color: #caded1;
}

.gerakansholat .card-nomor {
    background-color: #C6E3DE;
    height: fit-content;
    color: black;
    padding: 10px 18px;
    border-radius: 100%;
    font-weight: 600;
}

.gerakansholat .card-judul {
    padding: 10px 20px;
    border-radius: 20px;
    background-color: #C6E3DE;
    width: fit-content;
    color: black;
}

.gerakansholat img {
    flex-shrink: 0;
}

.gerakansholat .isi {
    text-align: justify;
}

/*  QUIZ */

.quiz-content {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
}

.quiz-container {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px 2px rgba(100, 100, 100, 0.1);
    width: 600px;
    overflow: hidden;
}

.quiz-header {
    padding: 4rem;
}

.quiz-content h2 {
    padding: 1rem;
    text-align: center;
    margin: 0;
}

.quiz-content ul {
    list-style-type: none;
    padding: 0;
}

.quiz-content ul li {
    font-size: 1.2rem;
    margin: 1rem 0;
}

.quiz-content ul li label {
    cursor: pointer;
}

.quiz-content button {
    background-color: #009462;
    color: #fff;
    border: none;
    display: block;
    width: 100%;
    cursor: pointer;
    font-size: 1.1rem;
    font-family: inherit;
    padding: 1.3rem;
}

.quiz-content button:hover {
    background-color: #44b927;
}

.quiz-content button:focus {
    outline: none;
    background-color: #44b927;
}

/* PAGE TENTANG */
.tentang {
    padding: 6rem 0;
}

.tentang-logo {
    padding: 6rem 0;
}

.tentang-logo .logo-title {
    margin-bottom: 4rem;
}

.tentang-logo .logo-title h3 {
    letter-spacing: 10px;
}

.tentang-logo .breakdown-logo {
    margin-bottom: 6rem;
    position: relative;
}

.tentang-logo .breakdown-logo img {
    margin-right: 2rem;
}

.tentang-logo .breakdown-logo h3 {
    color: #009462;
    margin-bottom: 1.5rem;
}

.tentang-logo .logo-title hr {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 300px;
}

.tentang-color .color-border {
    padding: 2.5rem 6rem;
    background-color: #009462;
    margin-bottom: 2rem;
}

.tentang-color {
    padding: 4rem 0;
}

.tentang-color .tentang-color-title {
    margin-bottom: 6rem;
    position: relative;
}

.tentang-color .tentang-color-title hr {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 300px;
}

.tentang-color .tentang-color-title h3 {
    letter-spacing: 10px;
}

.tentang-color .color-border {
    margin-right: 3rem;
}

.tentang-color .color-content {
    margin-bottom: 4rem;
}

main {
    background-image: url(img/Group\ 70.png);
    background-size: 100%;
    background-position: center bottom;
    overflow: hidden;
}

.doa {
    padding: 4rem 0;
}

.doa .card {
    cursor: pointer;
}

.doa .card:hover {
    background-color: #C6E3DE;
}

.doa .card-text {
    text-align: justify;
}

.card-judul {
    padding: 10px 20px;
    border-radius: 20px;
    width: fit-content;
}

.doa .card-subtitle {
    margin-top: 3rem;
}

.load {
    z-index: 9999;
    opacity: 1;
    height: 100%;
    width: 100%;
    position: fixed;
    background: #fff;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: opacity 0.5s ease-out;
}

.load img {
    width: 725px;
    height: 425px;
}

.hidden-list {
    display: none;
}

.hide-list {
    display: none;
}

.footer {
    padding-top: 48px;
}

.footer .logo {
    padding: 12px;
    border-radius: 20px;
}

.footer .heading {
    padding-top: 0px;
    color: #000;
}

.footer .footer-img p {
    color: #000;
}

.footer .footer-links {
    text-align: center;
}

.footer .footer-links p a {
    text-decoration: none;
    color: #000;
    padding: 5px 15px;
}

.footer .footer-links p a:hover {
    background-color: #009462;
    border-radius: 8px;
    color: #fff;
}

.footer .footer-service {
    text-align: center;
}

.footer .footer-service p a {
    text-decoration: none;
    color: #000;
    padding: 5px 15px;
}

.footer .footer-service p a:hover {
    background-color: #009462;
    border-radius: 8px;
    color: #fff;
}

@media (max-width: 576px) {
    html {
        font-size: 80%;
    }

    .preload img {
        width: 300px;
        height: 200px;
    }

    .load img {
        width: 400px;
        height: 225px;
    }

    nav ul li a {
        margin-left: 0;
    }

    .container {
        padding: 0 24px;
    }

    .home-content {
        display: block;
    }

    .profile {
        padding: 4rem 0;
    }

    .profile-content {
        display: block !important;
    }

    .profile-content img {
        width: 300px;
    }

    .profile-content .text-profile {
        font-size: 16px !important;
        font-weight: 600 !important;
    }

    .profile-content .profile-image {
        padding-top: 6rem;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .profile-content .profile-image img {
        width: 300px;
        height: 250px;
    }

    br {
        display: none;
    }

    .home-text h1 {
        font-size: 4em;
    }

    .about {
        padding-bottom: 4rem;
    }

    .about-content {
        display: block;
    }

    .about-content .button {
        margin-bottom: 4rem;
    }

    .about-text {
        padding-top: 4rem;
    }

    .about-image img {
        width: 100%;
        padding-top: 4rem;
    }

    .about-image {
        padding-top: 4rem;
    }

    .ornament h1 {
        padding-top: 24px;
    }

    .ornament img {
        width: 50px;
    }

    .gerakansholat .card {
        margin-bottom: 2rem;
    }

    .gerakansholat .card-body {
        height: fit-content !important;
        font-size: 90%;
        display: block !important;
    }

    .gerakansholat .card-nomor {
        width: fit-content;
    }

    .gerakansholat .card-body .text-content {
        padding: 0 !important;
    }

    .gerakansholat .card-body img {
        width: 125px;
        margin-bottom: 24px;
    }

    .quiz-content {
        height: fit-content;
    }

    .quiz-container {
        width: 300px;
        margin: 4rem 0;
    }

    .tentang-content {
        flex-direction: column;
    }

    .tentang-content .tentang-text {
        width: 100% !important;
        margin-bottom: 4rem;
    }

    .tentang-content .tentang-image {
        width: 100% !important;
        justify-content: center !important;
    }

    .tentang-content .tentang-image img {
        width: 350px;
        display: flex;
        justify-content: center !important;
    }

    .tentang-logo-content {
        flex-direction: column;
    }

    .logo-content {
        width: 100% !important;
    }

    .logo-content img {
        width: 300px;
        margin-bottom: 4rem;
    }

    .breakdown-logo {
        flex-direction: column;
        margin-bottom: 3rem !important;

    }

    .breakdown-logo img {
        display: none;
    }

    .color-content {
        flex-direction: column;
    }

    .tentang-color {
        padding: 0;
    }

    .tentang-color .color-border {
        margin-right: 0;
    }

    .text-justify {
        font-size: 16px;
    }

    .logo-content-img {
        display: flex;
        justify-content: center;
    }

    .service-content .card {
        margin-bottom: 4rem !important;
    }

    .doa .card-body {
        flex-direction: column;
        height: fit-content;
    }

    .doa {
        padding: 4rem 0;

    }

    .doa .card-content {
        margin-bottom: 3rem !important;
    }

    .doa .img-content {
        justify-content: center !important;
        padding: 2rem 0;
    }

    .doa .img-content img {
        width: 150px !important;
        height: 150px !important;
    }

    .doa .card-text {
        font-size: 12px !important;
        line-height: 1.8;
    }

    .doa .card-subtitle {
        font-size: 24px !important;
        line-height: 1.5;
    }

    .gerakansholat .isi {
        font-size: 12px !important;
        line-height: 1.8;
    }

    .simply-countdown>.simply-section {
        padding: 26px !important;
        align-items: center !important;
    }

    .hero {
        padding: 0 !important;
    }

    .simply-countdown>.simply-section .simply-amount,
    .simply-countdown>.simply-section .simply-word {
        font-size: 0.8rem !important;
    }

    .simply-countdown>.simply-section .simply-amount {
        font-size: 0.8rem !important;
    }

    .service .card-text {
        font-size: 16px !important;
    }

    .jadwal-sholat .date span {
        font-size: 16px;
    }

    .jadwal-sholat .hero h3 {
        display: none;
    }

    .jadwal-sholat {
        min-height: fit-content !important;
    }

    .detail-doa br {
        display: inline;
    }

    .footer .footer-img img {
        width: 100px;
    }

    .footer .footer-service {
        text-align: left;
    }

    .footer .footer-links {
        text-align: left;
    }

    .footer .heading-footer {
        text-align: left;
    }

    .footer .footer-links p a {
        padding: 0;
    }

    .footer .footer-links p a:hover {
        background-color: none;
        color: #000;
        text-decoration: underline;
    }

    .footer .footer-service p a {
        padding: 0;
    }

    .footer .footer-service p a:hover {
        background-color: none;
        color: #000;
        text-decoration: underline;
    }


}